:root{ 
    --color-primario:rgb(255, 255, 255);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
background: linear-gradient(#2f3136, #0d1117);
}
h1{
    font-family: var(--font-family);
    color: var(--color-primario) !important;
}
.text{
font-family: var(--font-family);
font-size: 1.5rem;
color: var(--color-primario);
}
#tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    color: var(--color-primario);
}
.casilla{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}
.arriba{
border-bottom: 10px solid;
}
.centro {
border-left: 10px solid;
border-right: 10px solid;
}
.abajo {
border-top: 10px solid;
}
.ganador {
    background-color: brown;
}

dialog{
    text-align: center;
    min-width: 50vw;
    background: linear-gradient(#99999b75, #00000000);
    padding: 5rem;
    border-radius: 50px;
    border-color: var(--color-primario);;
}

dialog h2{
    font-family: var(--font-family);
    font-size: xx-large;
    color: var(--color-primario);
}
dialog button{
    padding: 1rem;
    font-size: large;
}
dialog::backdrop{
    backdrop-filter: blur(3px);
}