:root{ 
    --color-primario:rgb(137, 137, 137);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
      background-color: aquamarine;
}
h1{
    font-family: var(--font-family)
}
.text{
font-family: var(--font-family);
font-size: 1.5rem;
}
#tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}
.casilla{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}
.arriba{
border-bottom: 10px solid;
}
.centro {
border-left: 10px solid;
border-right: 10px solid;
}
.abajo {
border-top: 10px solid;
}
.ganador {
    background-color: brown;
}

dialog{
    text-align: center;
    min-width: 50vw;
    background-color: aqua;
    padding: 5rem;
    border-radius: 50px;
}

dialog h2{
    font-family: var(--font-family);
    font-size: xx-large;
}
dialog button{
    padding: 1rem;
    font-size: large;
}
dialog::backdrop{
    backdrop-filter: blur(3px);
}